html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(68, 133, 231); 
 }

h1{
    font-family: 'PT Serif', serif;
    font-size: 400%;
    text-align: center;
    color: white;    
    text-shadow: 2px 2px 4px #000000;
}

canvas {
    z-index: 1;
    padding: 0;
    margin: auto;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 5px solid rgb(15, 88, 196);
}

